{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags mytemplatetags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Home" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% if page %}
        {% editable page.title %}{{ page.title }}{% endeditable %}
    {% else %}
        {% trans "Latest Posts" %}
    {% endif %}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    {% if tag or category or year or month or author %}
        <li>{% spaceless %}
            {% if tag %}
                {% trans "Tag:" %} {{ tag }}
                {% else %}{% if category %}
                    {% trans "Category:" %} {{ category }}
                    {% else %}{% if year or month %}
                        {% if month %}{{ month }}, {% endif %}{{ year }}
                        {% else %}{% if author %}
                            {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
                        {% endif %}{% endif %}{% endif %}{% endif %}
        {% endspaceless %}
        </li>
    {% endif %}
{% endblock %}

{% block main %}

    {% if tag or category or year or month or author %}
        {% block blog_post_list_filterinfo %}
            <p>
            {% if tag %}
                {% trans "Viewing posts tagged" %} {{ tag }}
                {% else %}{% if category %}
                    {% trans "Viewing posts for the category" %} {{ category }}
                    {% else %}{% if year or month %}
                        {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
                        {{ year }}
                        {% else %}{% if author %}
                            {% trans "Viewing posts by" %}
                            {{ author.get_full_name|default:author.username }}
                        {% endif %}{% endif %}{% endif %}{% endif %}
        {% endblock %}
    </p>
    {% else %}
        {% if page %}
            {% block blog_post_list_pagecontent %}
                {% if page.get_content_model.content %}
                    {% editable page.get_content_model.content %}
                        {{ page.get_content_model.content|richtext_filters }}
                    {% endeditable %}
                {% endif %}
            {% endblock %}
        {% endif %}
    {% endif %}

    {% for blog_post in blog_posts.object_list %}
        <div class="shadow p-4 mb-4">
            {% block blog_post_list_post_title %}
                {% editable blog_post.title %}
                    <h2>
                        <a class="post-title" href="{{ blog_post.get_absolute_url }}">
                            {{ blog_post.title }}
                        </a>
                    </h2>

                {% endeditable %}
            {% endblock %}
            {% block blog_post_list_post_metainfo %}
                {% editable blog_post.publish_date %}
                    <p class="post-meta d-flex flex-wrap">
                        <span class="pr-3">
                            <i class="far fa-calendar-alt" style="font-size: 14px;color: #8c8c8c;letter-spacing: 0.135em;"></i>
                            {{ blog_post.publish_date| date }}
                        </span>
                        <span class="pr-3">
                            <i class="far fa-clock" style="font-size: 14px;color: #8c8c8c;"></i>
                            {{ blog_post.content| read_time }}
                        </span>
                        <span>
                            {% if blog_post.allow_comments %}
                                {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                                        <i class="fas fa-comments" style="font-size: 14px;color: #8c8c8c;letter-spacing: 0.135em;"></i>
                                        <a class="post-meta pr-3" href="{{ blog_post.get_absolute_url }}#disqus_thread"
                                           data-disqus-identifier="{% disqus_id_for blog_post %}">
                                            {% trans "comments" %}
                                        </a>
                                {% else %}
                                    <i class="fas fa-comments" style="font-size: 14px;color: #8c8c8c;letter-spacing: 0.135em;line-height: 1;"></i>
                                    <a class="post-meta pr-3" href="{{ blog_post.get_absolute_url }}#comments">
                                        {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }}
                                            comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
                                    </a>
                                {% endif %}
                            {% endif %}
                        </span>
                        {% with blog_post.categories.all as categories %}
                            {% if categories %}
                                <span>
                                    <i class="fas fa-folder-open" style="font-size: 14px;color: #8c8c8c;letter-spacing: 0.135em;"></i>
                                    {% for category in categories %}
                                        <a class="post-meta"
                                           href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>
                                        {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        {% endwith %}
                    </p>

                {% endeditable %}
            {% endblock %}

            {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                {% block blog_post_list_post_featured_image %}
                    <a href="{{ blog_post.get_absolute_url }}">
                        <img class="shadow featured-img" src="{{ blog_post.featured_image.url }}" alt="{{ blog_post.title }}">
                    </a>
                {% endblock %}
            {% endif %}

            {% block blog_post_list_post_content %}
                {% editable blog_post.content %}
                    <p>
                        {{ blog_post.description_from_content|safe }}
                    </p>
                {% endeditable %}
            {% endblock %}

            {% block blog_post_list_post_links %}
                <div class="d-flex justify-content-end">
                    <a href="{{ blog_post.get_absolute_url }}">
                        <span>{% trans "READ MORE" %}</span>
                        <span><i class="fas fa-arrow-right"></i></span>
                    </a>
                </div>
            {% endblock %}
        </div>
    {% endfor %}

    {% pagination_for blog_posts %}

    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
        {% include "generic/includes/disqus_counts.html" %}
    {% endif %}

{% endblock %}

{% block right_panel %}
    {% include "blog/includes/filter_panel.html" %}
{% endblock %}
